<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Mandrake.Service.OTAwareService" behaviorConfiguration="StandardBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8062/OTService"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" name="TcpEndpoint" contract="Mandrake.Service.IOTAwareService" />
        <endpoint address="mex" binding="mexTcpBinding" name="MetadataEndpoint" contract="IMetadataExchange" />

      </service>
    </services>

    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="Mandrake.Service.OTAwareService"
             factory="Mandrake.Service.OTServiceHostFactory"
             relativeAddress="OTService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    
  </system.serviceModel>
</configuration>