<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <!--<serviceHostingEnvironment>
      <serviceActivations>
        <add service="Mandrake.Service.OTAwareService"
             factory="Mandrake.Service.OTServiceHostFactory"
             relativeAddress="OTService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>-->

    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Mandrake.Service.OTAwareService" behaviorConfiguration="StandardBehavior">
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://localhost:8062/OTService"/>-->
            <add baseAddress="http://localhost:8036/OTService"/>
          </baseAddresses>
        </host>

        <!--Net.Tcp binding. Further configuration needed. For more information see the readme-->
        <!--<endpoint address="" binding="netTcpBinding" name="TcpEndpoint" contract="Mandrake.Service.IOTAwareService" />
        <endpoint address="mex" binding="mexTcpBinding" name="MetadataEndpoint" contract="IMetadataExchange" />-->

        <endpoint address="" binding="wsDualHttpBinding" name="WsHttpEndpoint" contract="Mandrake.Service.IOTAwareService" />
        <endpoint address="mex" binding="mexHttpBinding" name="MetadataEndpoint" contract="IMetadataExchange" />

      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
