<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="TcpEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8062/OTService" binding="netTcpBinding"
                bindingConfiguration="TcpEndpoint" contract="OTServiceReference.IOTAwareService"
                name="TcpEndpoint">
                <identity>
                    <userPrincipalName value="ARROW\Peter" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>